@media screen and (max-width: 965px) {
  .header {
    width: 100%;
    opacity: 0.99;
    background-color: #eff0f2;
    height: 720px;
  }
  .container {
    max-width: 815px;
    width: 76%;
    margin: 0 auto;
    margin-left: 125px;
  }

  .say {
    margin-top: 150px;
    text-shadow: 3.5px 8.3px 10px #0000003d;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    letter-spacing: 2.7px;
    text-align: center;
    color: #505050;
    margin-bottom: 25px;
  }

  .agency {
    text-shadow: 3.5px 8.3px 10px #0000003d;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    text-align: center;
    color: #505050;
  }
  .banka {
    display: flex;
    margin: 0 auto;
    margin-right: 175px;
    width: 80px;
    height: 80px;
    opacity: 0%;
  }
  .menu {
    max-width: 850px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  /* about */

  .container-info {
    max-width: 920px;
    width: 100%;
    margin: 0 auto;
  }
  .block__photo {
    position: relative;
    z-index: 1;
    margin-top: 145px;
    max-width: 455px;
    width: 65%;
  }

  .background__photo {
    position: absolute;
    z-index: -1;
    width: 435px;
    height: 349px;
    background-color: #eff0f2;
    top: 93px;
    left: 5px;
  }
  .block-info {
    margin-top: 171px;
    height: 480px;
    width: 360px;
  }

  .block__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 1.2px;
    text-align: left;
    color: #000000c0;
    font-size: 16px;
  }
  .block__text {
    max-width: 480px;
    max-height: 269px;
    width: 100%;
    height: 100%;
    opacity: 0.74;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: 0.8px;
    text-align: left;
    color: #000000;
  }
  .title-two {
    margin-top: 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 1.2px;
    text-align: left;
    color: #000000c0;
    font-size: 16px;
  }

  .text-two {
    height: 85px;
    opacity: 0.74;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: 0.8px;
    text-align: left;
    color: #000000bd;
  }

  /*Services*/
  .block-designing {
    position: absolute;
    top: 3470px;
    left: auto;
    margin-left: 50px;
  }
  .block-design {
    position: absolute;
    top: 3908px;
    left: auto;
    margin-left: 50px;
  }
  .block-cool {
    position: absolute;
    top: 4320px;
    left: auto;
    margin-left: 50px;
  }
  .block-html {
    position: absolute;
    top: 4705px;
    left: auto;
    margin-left: 50px;
  }
  .block-virtual {
    position: absolute;
    top: 5065px;
    left: auto;
    margin-left: 50px;
  }
  .block-recopt {
    position: absolute;
    top: 5452px;
    left: auto;
    margin-left: 50px;
  }
  
  /*Says*/
  .container-says {
    display: flex;
    max-width: 978px;
    width: 85%;
    margin: 0 auto;
  }

  .block__says {
    position: relative;
    z-index: 1;
    margin-left: 2px;
  }
  .dots-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    right: 28.8%;
    margin-top: 60.8%;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 3px;
    background-color: #d0d0d0;
    margin-right: 2px;
    cursor: pointer;
  }
  
  .dot.active {
    width: 11px;
    height: 10px;
    border-radius: 3px;
    background-color: #71f6eb;
  }

  .background__says {
    position: absolute;
    z-index: -1;
    max-width: 393px;
    width: 100%;
    height: 362px;
    border-radius: 3px;
    background-color: #ecedef;
    top: 40px;
    right: 0;
  }
  .block__information {
    margin-top: 40px;
    max-width: 619px;
    width: 63%;
    height: 362px;
    border-radius: 3px;
    background-color: #eaebed;
    margin-left: 20px;
  }

  .block__information-text {
    margin-top: 80px;
    opacity: 0.95;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.87;
    letter-spacing: 0.9px;
    text-align: center;
    color: #787878f3;
  }

  .block__information-text b {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.2px;
    color: #000000f3;
  }
  .block__information-title {
    width: 270px;
    height: 155px;
    opacity: 0.7;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: 0.96px;
    text-align: center;
    color: #000000b3;
    margin-right: 35px;
  }
  .rating-mini {
    display: inline-block;
    font-size: 0;
    margin-left: 167px;
    margin-top: 0px;
  }
  .rating-mini span {
    padding: 0;
    font-size: 20px;
    line-height: 1;
    color: lightgrey;
  }
  .rating-mini > span:before {
    content: "★";
  }
  .rating-mini > span.active {
    color: gold;
  }

  .arrows {
    display: flex;
    position: absolute;
    right: auto;
    margin-left: 361px;
    top: 8285px;
  }
  .arrow-prev,
  .arrow-next {
    width: 40px;
    height: 40px;

    background-color: #71f6eb;
    margin: 0 4px;
    position: relative;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      box-shadow: 0 0 0 5px rgba(black, 0.5);
    }
    &:focus {
      box-shadow: 0 0 0 5px rgba(black, 0.5);
      outline: none;
    }
    &:active {
      box-shadow: 0 0 0 5px rgba(black, 1);
    }

    &::before,
    &::after {
      content: "";
      width: 40%;
      height: 4px;
      margin-top: -2px;
      background: #ffffff;
      position: absolute;
      top: 50%;
      border-radius: 4px;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
  .arrow-prev {
    &::before,
    &::after {
      left: 32%;
    }
    &::before {
      transform-origin: 0 0;
    }
    &::after {
      transform-origin: 0 100%;
    }
  }
  .arrow-next {
    &::before,
    &::after {
      right: 32%;
    }
    &::before {
      transform-origin: 100% 100%;
    }
    &::after {
      transform-origin: 100% 0;
    }
  }

  /* Спонсоры */
  .sponsor-container {
    max-width: 760px;
    height: 100%;
    margin: 0 auto;
  }

  /* information */

  .information {
    position: relative;
    max-width: 977px;
    width: 100%;
    height: 704px;
    background: url(/project/image/info.png) round;
  }
  .information-container {
    position: absolute;
    max-width: 996px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    top: 120px;
  }
  /* .Contact Me */
  .information__feedback {
    width: 370px;
    height: 460px;
    opacity: 0.71;
    box-shadow: 0 0 30px 0 #1515151e;
    background-color: #021623;
  }

  .rows__contact-rows {
    margin-top: 12px;
  }

  .form__group {
    margin-left: 30px;
  }

  .form-label {
    width: 46px;
    height: 12px;
    opacity: 0.6;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.4;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff99;
  }

  .form-control {
    display: flex;
    border-radius: 0;
    border-width: 0 0 2px 0;
    border-style: none none solid none;
    box-shadow: none;
    background: none;
    color: white;
    width: 310px;
    border-color: #7f7f7f;
  }

  .text-center {
    margin-left: 30px;
    margin-top: 55px;
  }

  .btn-start-order {
    width: 244px;
    height: 53px;
    border-radius: 2px;
    background-color: #71f6eb;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    transition: ease-out 0.5s;

    &:hover {
      background: white;
      color: #000;
    }
  }

  /* </Contact Me */

  /* Map-adress */
  .information__nav-map {
    width: 370px;
    height: 460px;
    opacity: 0.71;
    box-shadow: 0 0 3px 0 #15151528;
    background-color: #021623;
  }
  .adress {
    width: 213px;
    opacity: 0.7;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #ffffffb3;
    margin-left: 22px;
    padding-top: 10px;
  }
  .map {
    margin-left: 22px;
    height: 176px;
    width: 325px;
    margin-top: 50px;
  }

  /* <Map-adress */
}
